<!DOCTYPE html>
<html>
  <head>
    <br>
    <br><center>
    <h1>Last Check-In : </h1>
    <h2>Venue Name : <%= venue %></h2>
    <h2>Address : <%= address %></h2>
    <h2> Latitude, Longitude : <%= latitude%>,<%=longitude%></h2>
  </center>
    
  </head>
  <body>
  </body>
</html>
