<!DOCTYPE html>
<html>
  <head>
  <script type="text/javascript">
            $(document).ready(function() {
                $('#far-clouds').pan({fps: 30, speed: 0.7, dir: 'left', depth: 30});
                $('#near-clouds').pan({fps: 30, speed: 1, dir: 'left', depth: 70});
                $('#birds').pan({fps: 100, no_of_frames:2, speed: 2, dir: 'left', depth:100})
            });  
    </script>
  </head>
  <body>
  <div class="container">
    <div id="far-clouds" class="far-clouds stage"></div>
    <div id="near-clouds" class="near-clouds stage"></div>
    <div id="birds" class="birds stage"></div>
    <div class="mainContent">
      <div>
        <center>
          <%= image_tag "hunt_logo.png" %>
          <br>
          <p></p>
          <div class="myButton">
            <%= link_to('Go Solo', 'locations#show') %>
          </div>
          <div class="myButton">
            <%= link_to('Teams')%>
          </div>
        </center>
      </div>
    </div>
  </div>
  </body>
</html>
