
<center>
  <% if current_user %>
    <h1>Who will be on this hunt?</h1>
    <br>
    <div class="myButton">
     <%= link_to "Just Me", new_single_game_path, method: :get %>
    </div>
  <% else %> 
    <h1> You must be signed in via Foursquare to start hunting.</h1>
    <%= link_to "Sign in with Foursquare", "/auth/foursquare" %>
  <% end %>
</center>

