<!DOCTYPE html>
<html>
  <head>
    <title>"Location" </title>
  </head>
  <body>
    <center>
    <br>
    <br>
    <%= gmaps4rails(@json) %>
    <p>
      <strong>Newest Address:</strong>
      <%= @location.address %>
    </p>

    <p>
      <%= link_to "Remove Location", @location, :confirm => 'Are you sure?', :method => :delete %> |
      <%= link_to "Back to My Hunt", locations_path %>
    </p>
  </center>
  </body>
</html>
